/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #faa627;
  --ifm-color-primary-dark: #f99a0b;
  --ifm-color-primary-darker: #f09306;
  --ifm-color-primary-darkest: #c67905;
  --ifm-color-primary-light: #fbb243;
  --ifm-color-primary-lighter: #fbb751;
  --ifm-color-primary-lightest: #fcc97c;
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}
