body {
  font-family: sans-serif;
  background: #1a1a1a;
}

form {
  margin: 3rem auto 0;
  width: 24rem;

  div {
    width: inherit;
    margin-bottom: 1rem;
  }

  label {
    display: block;
    color: #fff;
  }

  input,
  select,
  textarea,
  button,
  a {
    margin: 0.5rem 0;
    padding: 0.5rem;
    width: inherit;
    height: 2rem;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type="submit"],
  button,
  a {
    width: 7rem;
    height: 2.5rem;
    font-size: 1rem;
    color: #fff;
    background: #0971f1;
    cursor: pointer;
  }

  button,
  a {
    border: 1px solid #fff;
    background: none;
  }

  button {
    margin-left: auto;
  }

  a {
    text-align: center;
    text-decoration: none;
  }

  textarea {
    height: 5rem;
  }

  p {
    margin-top: 0;
    color: #ff9900;
  }

  .btn {
    display: flex;
    justify-content: space-between;
  }
}
