body {
  font-family: sans-serif;
  background: #222;
}

form {
  margin: 5rem auto 0;
  width: 24rem;

  input:not([type="checkbox"]):not([type="radio"]) {
    margin-bottom: 1.5rem;
    padding: 0.5rem;
    width: inherit;
    height: 2rem;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type="checkbox"],
  input[type="radio"] {
    margin-right: 0.5rem;
  }

  input[type="radio"] {
    margin-top: 1rem;
  }

  label {
    color: #fff;
    margin-right: 1rem;
  }

  input[type="submit"] {
    margin-top: 1.5rem;
    height: 2.5rem !important;
    font-size: 1rem;
    background: #faa627;
    cursor: pointer;
  }
}
