body {
  font-family: sans-serif;
  background: #1a1a1a;

  > div {
    margin: 5rem auto 0;
    width: 24rem;
  
    div {
      width: inherit;
      margin-bottom: 1rem;
    }
  
    label {
      display: block;
      color: #fff;
    }
  
    input,
    button {
      margin: 0.5rem 0;
      padding: 0 0.5rem;
      width: inherit;
      height: 2rem;
      border: none;
      border-radius: 4px;
      box-sizing: border-box;
    }
  
    button {
      height: 2.5rem;
      font-size: 1rem;
      color: #fff;
      background: #0971f1;
      cursor: pointer;
    }
  
    p {
      margin: 0;
      color: #ff9900;
    }
  }  
}

