body {
  font-family: sans-serif;
  background: #1a1a1a;
}

form {
  margin: 3rem auto 0;
  width: 28rem;

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.count {
      justify-content: center;
      margin-bottom: 1.5rem;
      padding: 0.25rem 0;
      color: #fff;
      background: #333;
      border-radius: 4px;
    }

    input {
      width: 13.5rem;

      &:first-of-type {
        width: 6.5rem;
      }
    }

    button {
      width: 6.5rem;
      height: 2rem;
      border: none;
      border-radius: 4px;
      border: 1px solid #fff;
      color: #fff;
      background: transparent;
      cursor: pointer;
    }

    &:last-of-type {
      margin-top: 0.5rem;
    }
  }

  input {
    margin: 0.5rem 0;
    padding: 0.5rem;
    width: inherit;
    height: 2rem;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type="submit"],
  input[type="reset"] {
    height: 2.5rem;
    font-size: 1rem;
    cursor: pointer;
  }

  input[type="submit"] {
    margin-top: 2rem;
    color: #fff;
    background: #0971f1;
  }
}
