body {
  font-family: sans-serif;
  background: #222;
}

form {
  margin: 5rem auto 0;
  width: 24rem;
  color: #fff;

  div {
    margin-bottom: 2rem;
  }

  fieldset {
    border-radius: 4px;
    border-color: #555;
    box-shadow: 0;
  }

  input {
    margin-right: 0.5rem;

    &:not(:first-of-type) {
      margin-left: 1rem;
    }
  }

  input[type="submit"] {
    width: inherit;
    height: 2.5rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    color: #fff;
    background: #2b54fe;
    cursor: pointer;
  }

  p {
    margin-top: 0.5rem;
    color: orangered;
  }
}
