body {
  font-family: sans-serif;
  background: #222;
}

form {
  margin: 3rem auto 0;
  width: 24rem;

  div {
    width: inherit;
    margin-bottom: 1rem;
  }

  label {
    display: block;
    color: #fff;
  }

  input,
  select,
  textarea {
    margin: 0.5rem 0;
    padding: 0.5rem;
    width: inherit;
    height: 2rem;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type="submit"] {
    height: 2.8rem;
    font-size: 1rem;
    background: #faa627;
    cursor: pointer;
  }

  textarea {
    height: 5rem;
  }
}
