body {
  font-family: sans-serif;
  background: #222;
}

form {
  margin: 5rem auto 0;
  width: 24rem;

  label {
    display: block;
    color: #fff;
  }

  input,
  select {
    margin: 0.5rem 0 1rem;
    padding: 0.5rem;
    width: inherit;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
  }

  select {
    height: 6rem;
  }

  input[type="submit"] {
    height: 2.5rem;
    font-size: 1rem;
    background: #faa627;
    cursor: pointer;
  }
}
